*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10px;
    padding: 10px;
    background-color: rgb(36, 35, 35);
}
#header{
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.litag{
    color: crimson;
}